@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

@font-face {
  font-family: "Liquido Regular";
  font-style: normal;
  src: url(".//fonts/LIQUIDO-Reguar-400.otf") format("opentype");
}

:root {
  /* Color Palette */
  --powder-pink: #fffaed;
  --lavender: #bcb7f2;
  --tangerine: #ff671f;
  --nude-pink: #ffecdc;
  --mustard-yellow: #fcb803;
  --softer-mustard: #f9d064;
  --royal-blue: #0034eb;
  --light-royal-blue: #0033eb80;

  /* Fonts */
  --Kode-Mono: "Kode Mono", monospace;
  --Liquido-Regular: "Liquido Regular";
  font-family: var(--Kode-Mono);
}

html {
  scroll-behavior: smooth;
}

a,
button,
#socials img:hover {
  cursor: pointer;
}

header nav a,
#contact {
  &::after {
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 0;
    background: transparent;
    transition: width 0.5s ease;
  }

  &:hover::after {
    width: 100%;
    background: var(--light-royal-blue);
  }
}

#hero-section {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  padding: 0 50px;
  background-color: var(--powder-pink);
}

.nav-link,
#contact,
#signature,
#slogan,
#projects-text,
#about-text,
.cta-button {
  letter-spacing: 2px;
}

header,
#hero,
nav,
#aside,
#projects-section,
#projects-right-section,
#about-main,
#contact-section,
#contact-left-section,
#contact-right-section,
#contact-form,
#name,
.form-element,
footer,
footer nav {
  display: flex;
}

#hero-section,
#projects-section,
#about-section,
#contact-section {
  height: 100svh;
}

header {
  grid-column: 1 / 4;
  justify-content: space-between;
  align-items: center;

  nav {
    gap: 50px;
  }
}

.nav-link,
#contact,
#signature {
  color: var(--tangerine);
  padding: 5px 10px;
  text-transform: uppercase;
}

#aside {
  align-items: center;
}

#signature {
  writing-mode: sideways-lr;
}

#hero {
  position: relative;
  justify-content: center;
  background-color: var(--nude-pink);
  border-radius: 10px;

  #slogan {
    position: absolute;
    max-width: 420px;
    min-width: 300px;
    color: var(--tangerine);
    top: 65%;
    right: 55%;
    &::after {
      content: var(--arrow-icon);
      margin: 20px 0 0 0;
    }
  }
}

#socials {
  grid-column: 1 /2;
  grid-row: 3 / 4;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;

  img {
    height: 24px;
  }
}

#down-arrow {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: auto;
  animation: float 1s ease-in-out infinite;
  transition: 1s ease all;

  &:hover {
    cursor: pointer;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}

#projects-section {
  background-color: var(--nude-pink);
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}

#projects-title {
  position: absolute;
  top: 20%;
  left: 0;
}

#projects-plan {
  min-width: 500px;
  min-height: 614px;
  z-index: 100;
}

#projects-right-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 500px;
  height: 614px;
  z-index: 100;
}

#projects-text {
  max-width: 420px;
  text-align: center;
  color: var(--tangerine);
  padding: 200px 0 0 0;
}

.cta-button {
  border: none;
  background-color: var(--tangerine);
  color: white;
  width: 250px;
  height: 55px;
  border-radius: 35px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#about-section {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  padding: 0 50px;
  background-color: var(--powder-pink);
  background-image: var(--grid-lines);
  justify-content: center;
  align-items: center;
}

#about-main {
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--nude-pink);
  border-radius: 10px;
  padding: 10px 50px 50px 50px;

  hr {
    width: 100%;
    border: none;
    height: 3px;
    background-color: var(--mustard-yellow);
    margin: 0 0 25px 0;
  }
}

#about-title,
#contact-title {
  font-family: var(--Liquido-Regular);
  font-size: 5rem;
}

#about-title {
  color: var(--tangerine);
}

#about-text {
  text-align: justify;
  color: var(--tangerine);

  a {
    color: var(--royal-blue);
    text-transform: uppercase;
  }
}

#contact-left-section,
#contact-right-section {
  width: 50%;
}

#contact-left-section {
  background-color: var(--powder-pink);
  flex-direction: column;
  padding: 50px 80px;
}

#contact-title {
  color: var(--royal-blue);
}

#contact-form {
  flex-direction: column;
  gap: 10px;

  button {
    margin: 20px 0 0 0;
  }
}

#name {
  justify-content: space-between;
  gap: 100px;
}

.form-element {
  flex-direction: column;
  width: 100%;

  label {
    color: var(--tangerine);
  }

  input {
    height: 40px;
  }

  textarea {
    height: auto;
  }

  input,
  textarea {
    background-color: transparent;
    border-radius: 10px;
    border: solid 1px var(--mustard-yellow);
    padding: 10px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--royal-blue);
      opacity: 0.3;
    }
  }
}

#contact-right-section {
  background-color: var(--lavender);
  justify-content: center;
  align-items: center;
  background-image: var(--yellow-smiley);
  background-repeat: repeat-y;
}

footer {
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  color: var(--royal-blue);
  background-color: var(--softer-mustard);

  h5 {
    a {
      border-bottom: solid 1px var(--tangerine);
    }
  }

  nav {
    flex-direction: column;
  }
}
